<ion-content>
  <form class="container mt-4">

    <div class="row">
      <div class="col">
        <!-- Nom de l'Empresa -->
        <div class="mb-3">
          <label for="nomEmpresa" class="form-label">Nom Empresa</label>
          <ion-input id="nomEmpresa" type="text" class="form-control"
            placeholder="Introdueix el nom de l'empresa"></ion-input>
        </div>
      </div>


      <div class="col">
        <!-- NIF -->
        <div class="mb-3">
          <label for="nif" class="form-label">NIF</label>
          <ion-input id="nif" type="text" class="form-control" placeholder="Introdueix el NIF"></ion-input>
        </div>
      </div>

    </div>


    <div class="row">

      <div class="col">
        <!-- Telèfon -->
        <div class="mb-3">
          <label for="telefon" class="form-label">Telèfon</label>
          <ion-input id="telefon" type="tel" class="form-control"
            placeholder="Introdueix el número de telèfon"></ion-input>
        </div>
      </div>

      <div class="col">

        <!-- Correu electrònic -->
        <div class="mb-3">
          <label for="email" class="form-label">Correu electrònic</label>
          <ion-input id="email" type="email" class="form-control"
            placeholder="Introdueix el correu electrònic"></ion-input>
        </div>
      </div>

    </div>




    <div class="row">
      <!-- Adreça -->
      <div class="mb-3">
        <label for="adreca" class="form-label">Adreça</label>
        <ion-input id="adreca" type="text" class="form-control" placeholder="Introdueix l'adreça"></ion-input>
      </div>
    </div>


    <!-- Botó Enviar -->
    <ion-button type="submit" class="btn btn-primary w-100">Enviar</ion-button>
  </form>
</ion-content>